<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"   
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean id ="customer" class="com.assignments.Spring1.Customer">
<property name = "id" value ="1234"/>
<property name = "name" value ="Pravali"/>
<property name = "contact" value ="12348900859"/>
<property name = "address" ref="Address1"/>
</bean>



<bean id = "Address1" class= "com.assignments.Spring1.Address">
<property name ="city" value= "Hyderabad"/>
<property name ="street" value= "Warangal"/>
<property name ="state" value= "Telangana"/>
<property name ="zip" value= "506006"/>
<property name ="country" value= "India"/>


</bean>
 
 </beans>